{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="team" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>
						{{ range $i,$w := split .title " "}}
							{{ if eq $i 0 }}
							<span class="titlecolor1"> {{$w}}</span>
							{{ else }}
							<span class="titlecolor2"> {{$w}}</span>
							{{end}}
						{{ end }}
					</h2>
          <p class="team-content summary text-center">
            {{ .content | markdownify }}
          </p>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
    </div>

    <div class="border-meghna-dark"></div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>
						{{ range $i,$w := split .title_2 " "}}
							{{ if eq $i 0 }}
							<span class="titlecolor1"> {{$w}}</span>
							{{ else }}
							<span class="titlecolor2"> {{$w}}</span>
							{{end}}
						{{ end }}
					</h2>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
    </div>

    <div class="row justify-content-center">
      {{ range .team_member}}
      {{"<!-- team member -->" | safeHTML}}
      <div class="col-lg-4 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">
            {{"<!-- member photo -->" | safeHTML}}
            <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
            {{"<!-- member social profile -->" | safeHTML}}
            <div class="mask">
              <ul class="list-inline">
                {{ range .social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            </div>
          </div>

          {{"<!-- member name & designation -->" | safeHTML}}
          <div class="member-meta">
            <h4>{{ .name }}</h4>
            <span>{{ .designation | markdownify}}</span>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{"<!-- end team member -->" | safeHTML}}
      {{ end }}
    </div>
    
    <div class="border-meghna-dark" style="margin-top: 4%;"></div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section story -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>
						{{ range $i,$w := split .title_3 " "}}
							{{ if eq $i 0 }}
							<span class="titlecolor1"> {{$w}}</span>
							{{ else }}
							<span class="titlecolor2"> {{$w}}</span>
							{{end}}
						{{ end }}
					</h2>
          <p> {{.content_3}} </p>
        </div>
      </div>
      {{"<!-- /section story -->" | safeHTML}}
    </div>
  </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
{{ end }}
